@page "/"

<PageTitle>Contoso Pizzas</PageTitle>

<FluentSpacer Width="50"></FluentSpacer>

<h1>Contoso Pizzas</h1>

<p>The best pizza place in the world...</p>

<FluentSpacer Width="50"></FluentSpacer>

<FluentGrid >
    <FluentGridItem xs="4">
        <FluentCard>
            <FluentSpacer Width="100" />
            <p><FluentAnchor Href="sauces" Appearance="Appearance.Hypertext">Manage Sauce(s)</FluentAnchor></p>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="4">
        <FluentCard>
            <FluentSpacer Width="100" />
            <p><FluentAnchor Href="toppings" Appearance="Appearance.Hypertext">Manage Topping(s)</FluentAnchor></p>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="4">
        <FluentCard>
            <FluentSpacer Width="100" />
            <p><FluentAnchor Href="pizzas" Appearance="Appearance.Hypertext">Manage Pizza(s)</FluentAnchor></p>
        </FluentCard>
    </FluentGridItem>
</FluentGrid>
